[Desktop Entry]
Name=HTYBoard
Comment=
Exec=/media/sonichy/job/HY/Linux/Qt/HTYBoard/HTYBoard
Icon=/media/sonichy/job/HY/Linux/Qt/HTYBoard/icon.png
Path=/media/sonichy/job/HY/Linux/Qt/HTYBoard
Terminal=false
Type=Application
MimeType=
Categories=